:root {
    --red: #E4001B;
    --purple: #7C1978;
    --faded-red: #e92a34;
    --faded-purple: #b32568;
    --ff-primary: "Roboto", sans-serif;
    --ff-secondary: "Montserrat", sans-serif;
}

/* General */

a {
    text-decoration: none;
}

a:hover, input[type="submit"]:hover {
    cursor: pointer;
}

*, *::before, *::after {
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
}

body, h1, h2, h3, p {
    margin: 0;
}

body {
    font-family: var(--ff-primary);
    font-weight: 300;
    color: black;
}

h1, h2, h3 {
    font-family: var(--ff-secondary);
    font-weight: 500;
}

/* Navbar */

nav {
    top: 1.5rem;
    position: absolute;
    width: 100%;
}

#navContent {
    position: inherit;
    margin: 0 auto;
    left: 0;
    right: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    list-style-type: none;
    border: solid 2px white;
    border-radius: 12px;
    text-align: center;
    width: 95%;
    max-width: 35rem;
}

#navContent a {
    color: white;
    font-size: .9em;
    font-weight: 500;
    font-family: var(--ff-secondary);
    padding: 1.2%;
}

#navContent a:hover {
    text-decoration: underline;
}

/* Header */

header {
    background-image: url("../img/Pattern2.png"), linear-gradient(to top right, var(--faded-purple), var(--faded-red));
    background-size: contain;
}

#headerContent {
    padding-top: 6rem;
    max-width: 1080px;
}

#headerDescription {
    left: 0;
    right: 0;
    margin: 0 auto;
    margin-top: 2rem;
    width: 20em;
}

#headerDescription h1 {
    padding-top: .3rem;
    padding-bottom: .75rem;
    letter-spacing: .15em;
}

#headerDescription p {
    line-height: 1.5em;
    letter-spacing: .05em;
}

#headerLogo img {
    float: left;
    max-width: 6rem;
    margin-right: 2rem;
}

#headerLogo p {
    line-height: 3em;
    font-size: 1.5em;
}

#ICOCountdown {
    left: 0;
    right: 0;
    margin: 0 auto;
    margin-top: 2rem;
    text-align: center;
    border: 2px solid white;
    border-radius: 12px;
    letter-spacing: .15em;
    padding: 1rem;
    max-width: 28rem;
    color: white;
}

#ICOTimer div {
    padding-top: 1rem;
    font-weight: 500;
}

#ICOTimer div h1 {
    font-family: var(--ff-secondary);
    font-weight: 700;
    font-size: 3em;
    line-height: 170%;
    width: 5rem;
    height: 5rem;
    background-color: rgba(255, 255, 255, .25);
}

#ICOTimer div p {
    line-height: 2rem;
}

#ICOEmail {
    min-width: 12rem;
    width: 60%;
    padding: .5rem;
    border: 1px solid white;
    color: white;
    font-family: var(--ff-primary);
    letter-spacing: .05em;
    font-weight: 500;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 12px 0px 0px 12px;
}

#ICOEmail::placeholder {
    color:white;
    font-family: var(--ff-secondary);
    font-weight: 500;
}

#ICONotification {
    padding-top: .7rem;
    padding-bottom: .7rem;
}

#ICONotify {
    width: 6rem;
    padding: .5rem;
    background-color: white;
    border: 0px none;
    border-radius: 0px 12px 12px 0px;
    font-family: var(--ff-primary);
    color: var(--red);
    font-size: 1em;
}

#headerScenic {
    width: 100%;
    height: 30vh;
}

#headerScenic > * {
    position: absolute;
}

/* Classes */

.seperator {
    width: 1rem;
}

.content {
    margin: auto;
}

.white {
    color: white;
}

.fontLight {
    font-weight: 100;
}

.fontMedium {
    font-weight: 500;
}

.fontBold {
    font-weight: 700;
}

.fontSpaced {
    letter-spacing: .2rem;
}

.ffSecondary {
    font-family: var(--ff-secondary);
}

.overflow {
    overflow-x: hidden;
}

.flexContainer {
    flex: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}