:root {
    --red: #E4001B;
    --purple: #7C1978;
    --ff-primary: "Montserrat", sans-serif;
    --ff-secondary: "Roboto", sans-serif;
}

/* General */

a:hover {
    cursor: pointer;
}

*, *::before, *::after {
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
}

body, h1, h2, h3, p {
    margin: 0;
}

body {
    font-family: var(--ff-primary);
    font-weight: 300;
    color: black;
}

/* Mobile */
